# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6c86f3d143a9cbfd8f72ca850367aac806b79dc1368d611a1b6f3fa71d648ef765509aae198ab6293c37578d6dbcba5f92cadabadf2efb4e507700edc7a3b3ee

test:
  secret_key_base: 862c2adc58b56b557f3db1edaed322eb825b3a3ef87c1bac12c528e0cc79fa058550a0cca96ecd90607a88659f7e0a1b76c735574edd09907a0da1ba31096860

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
