

<div id="location"><p>Current location: <%= @latitude %>, <%= @longitude %></p></div><div id="pollution"><p>Light pollution in your area: <%= pollution %> </p></div>

<center> <div class="controls">
 <a id="grid" class="btn btn-default">Toggle Grid</a> &#09;
 <a id="x-axis-less" class="btn btn-primary"> - </a> X-Axis
 <a id="x-axis-more" class="btn btn-primary"> + </a> &#09;
 <a id="y-axis-less" class="btn btn-primary"> - </a> Y-Axis
 <a id="y-axis-more" class="btn btn-primary"> + </a> &#09;&#9;&#9;
 <a id="z-axis-less" class="btn btn-primary"> - </a> Z-Axis
 <a id="z-axis-more" class="btn btn-primary"> + </a> &#09;&#9;&#9;

</div></center>
