

<div id="location"><p>Current location: <%= @latitude %>, <%= @longitude %></p></div><div id="pollution"><p>Light pollution in your area: <%= pollution %> </p></div>

 <center> <div class="controls">
    <a id="x-axis" class="btn btn-primary">Decrease X-Axis (2 &sigma;)</a>
    <a id="y-axis" class="btn btn-primary">Decrease Y-Axis (2 &sigma;)</a>
    <a id="z-axis" class="btn btn-primary">Decrease Z-Axis (2 &sigma;)</a>

    <a id="grid" class="btn btn-default">Toggle Grid</a>

  </div></center>
