

<div id="location"><p>Current location: <%= @latitude %>, <%= @longitude %></p></div><div id="pollution"><p>Light pollution in your area: <%= pollution %> </p></div>

<center> <div class="controls">
 <a id="grid" class="btn btn-default btn-left">Toggle Grid</a>          
 <a id="x-axis-less" class="btn btn-primary btn-left btn-adjust"> - </a> X-Axis
 <a id="x-axis-more" class="btn btn-primary btn-adjust"> + </a>           
 <a id="y-axis-less" class="btn btn-primary btn-left btn-adjust"> - </a> Y-Axis
 <a id="y-axis-more" class="btn btn-primary btn-adjust"> + </a> 
 <a id="z-axis-less" class="btn btn-primary btn-left  btn-adjust"> - </a> Z-Axis
 <a id="z-axis-more" class="btn btn-primary  btn-adjust"> + </a> 

</div></center>
