<h3>With a light pollution of <%= pollution %> in your current area, these are the stars you will be able to see tonight.</h3>

<div class="controls">
  <a id="x-axis" class="btn btn-primary">Decrease X-Axis<br />(2 &sigma;)</a>
  <a id="y-axis" class="btn btn-primary">Decrease Y-Axis<br />(2 &sigma;)</a>
  <a id="z-axis" class="btn btn-primary">Decrease Z-Axis<br />(2 &sigma;)</a>

  <a id="grid" class="btn btn-default">Toggle Grid</a>

</div>
