<h3>With a light pollution of <%= pollution %> in your current area, these are the stars you will be able to see tonight.</h3>

<a id="x-axis" class="btn btn-primary btn-lg">Decrease X-Axis<br />(2 &sigma;)</a>
<a id="y-axis" class="btn btn-primary btn-lg">Decrease Y-Axis<br />(2 &sigma;)</a>
<a id="z-axis" class="btn btn-primary btn-lg">Decrease Z-Axis<br />(2 &sigma;)</a>