/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min.css
 */


 html, body {
  height: 91%;
}
.chart {
  margin: 0;
  height: 90%;
}

#navibar {
  margin-bottom: 0px;
}

#tagline {
  margin: 10px 0 10px;
  padding-bottom: 4px;
}

#tagline p {
  padding-left: 140px;
}

#load {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px; /* -1 * image width / 2 */
  margin-top: -30px; /* -1 * image height / 2 */
}

/*.site-footer{
  position:absolute;
  margin-bottom:0;
  width:100%; 
  }*/

/*#footer {
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    }*/
    * {
      margin: 0;
    }

    #main {
      overflow:none;
      padding-bottom: 30px;}  /* must be same height as the footer */

      /*.wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
        }*/
        .footer, .push {
          margin-top: -30px; 
          /* height: 30px;*/ /* .push must be the same height as .footer */
          clear:both;
        }


        .pull-left, .pull-right {
          margin-bottom: 0px;
          padding-top: 30px;
          height 0;
        }
        #pollution {
          width: 20%;
          height: 20%;
          position: absolute;
          bottom: 50;
          right: 0;
          padding-right: 20px;
          text-align: right;
          z-index: 10;
        }

        #location {
          width: 30%;
          height: 20%;
          position: absolute;
          bottom: 50;
          left: 0;
          padding-left: 20px;
          text-align: left;
          z-index: 10;
        }