<section class="bs-docs-section center-text-block .page-wrap">
  <article>

    <section>
      <h3>About LUMENsee</h3>
      <p>
      LUMENsee is a student project developed during week 9 of the Flatiron School Web Immersive course. LUMENsee displays the stars visible from your location on earth given the amount of light pollution in your area. LUMENsee uses Hipparcos stellar data from the European Space Agency and light pollution data the US National Renewable Energy Laboratory (NREL) to generate a set of stars visible from the location of your IP address. We accessed Hipparcos data via <a href="https://github.com/HacktheUniverse">Hack The Universe's API </a> (thanks!). Stars are displayed on a 3-D chart using Highchart.js, which generates a chart from our data via an API. Our webapp is made with Ruby on Rails and hosted on Heroku. 
      <p>
      The goal of our webapp is to provide an informative and fresh look at the universe. Stars in the chart vary in size with their apparent magnitude, a measure of the brightness a star would have on Earth in the absence of the atmosphere. Each star is labeled with its Hipparcos coordinates and a name. Star locations are approximate; this webapp is not intended for trip planning purposes. 
      </p>
    </section>

    <section>
      <h3>ABOUT THE TEAM</h3>

      <table class="table table-striped table-hover ">
        <tr>
          <td>
            <figure>
              <img class="img-rounded" src="assets/lia_skalkos.jpg" alt="Lia Skalkos" height="175" width="175">
            <figcaption><h4>Lia Skalkos</h4></figcaption>
            </figure>

            <div class="social-media">
              <!-- Github link -->
              <a href="https://github.com/lskalkos" target="_blank" class="social-link">
                <img src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github-Logo" height="32" width="32">
              </a>
              <!-- Twitter link -->
              <a href="https://twitter.com/lskalkos" target="_blank">
                <img src="assets/TwitterLogo.png" alt="Twitter-Logo" height="32" width="32">
              </a>
              <!-- LinkedIn link -->
              <a href="https://www.linkedin.com/in/liaskalkos" target="_blank">
                <img src="assets/In-2C-128px-TM.png" alt="LinkedIn-Logo" height="32" width="32">
              </a>
              <!-- Blog link -->
              <a href="http://lskalkos.github.io/" target="_blank">
                <img src="assets/blog-icon.png" alt="Blog-Logo" height="32" width="32">
              </a>
            </div>
          </td>
          <td>
            <p><h5>Bio:</h5></p>
            Native New Hampshirean. Greek. Hobokenite. Web Developer.
            <br>
            <p><h5>Education:</h5></p>
            Rutgers University, MLIS <br>
            University of Chicago, BA
          </td>
        </tr>

        <tr>
          <td>
            <figure>
              <img class="img-rounded" src="assets/sara_tibbetts.jpeg" alt="Sara Tibbetts" height="175" width="175">
              <figcaption><h4>Sara Tibbetts</h4></figcaption>
            </figure>

            <div class="social-media">
              <!-- Github link -->
              <a href="https://github.com/tibsar" target="_blank">
                <img src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github-Logo" height="32" width="32">
              </a>
              <!-- Twitter link -->
              <a href="https://twitter.com/saratibbetts" target="_blank">
                <img src="assets/TwitterLogo.png" alt="Twitter-Logo" height="32" width="32">
              </a>
              <!-- LinkedIn link -->
              <a href="https://www.linkedin.com/in/saratibbetts" target="_blank">
                <img src="assets/In-2C-128px-TM.png" alt="LinkedIn-Logo" height="32" width="32">
              </a>
              <!-- Blog link -->
              <a href="http://tibsar.github.io/" target="_blank">
                <img src="assets/blog-icon.png" alt="Blog-Logo" height="32" width="32">
              </a>
            </div>
          </td>
          <td>
            <p><h5>Bio:</h5></p>
            I'm Sara, a Computer Engineering student with a minor in Geographic Information Systems.
            <br>
            <p><h5>Education:</h5></p>
            Rochester Institute of Technology, BS<br>
            The Flatiron School
          </td>
        </tr>

        <tr>
          <td>
            <figure>
              <img class="img-rounded" src="assets/DavidPerel-sized.png" alt="David Perel" height="175" width="175">
              <figcaption><h4>David Perel</h4></figcaption>
            </figure>

            <div class="social-media">
              <!-- Github link -->
              <a href="https://github.com/dperel" target="_blank">
                <img src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github-Logo" height="32" width="32">
              </a>
              <!-- Twitter link -->
              <a href="https://twitter.com/dperel" target="_blank">
                <img src="assets/TwitterLogo.png" alt="Twitter-Logo" height="32" width="32">
              </a>
              <!-- LinkedIn link -->
              <a href="" target="_blank">
                <img src="assets/In-2C-128px-TM.png" alt="LinkedIn-Logo" height="32" width="32">
              </a>
              <!-- Blog link -->
              <a href="http://dperel.github.io/" target="_blank">
                <img src="assets/blog-icon.png" alt="Blog-Logo" height="32" width="32">
              </a>
            </div>
          </td>
          <td>
            <p><h5>Bio:</h5></p>
            David enjoys the outdoors and action movies. He worked in politics but is now on a new mission to learn coding at the Flatiron School. <br> He also likes beagles and books.
            <br>
            <p><h5>Education:</h5></p>
            Princeton University, BA<br>
            The Flatiron School
          </td>
        </tr>
        <tr>
          <td>
            <figure>
              <img class="img-rounded" src="assets/MasonJennings-scaled.png" alt="Mason Jennings" height="175" width="175">
              <figcaption><h4>Mason Jennings</h4></figcaption>
            </figure>

            <div class="social-media">
              <!-- Github link -->
              <a href="https://github.com/mminute" target="_blank">
                <img src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github-Logo" height="32" width="32">
              </a>
              <!-- Twitter link -->
              <a href="https://twitter.com/mminute_" target="_blank">
                <img src="assets/TwitterLogo.png" alt="Twitter-Logo" height="32" width="32">
              </a>
              <!-- LinkedIn link -->
              <a href="https://www.linkedin.com/in/masonjennings" target="_blank">
                <img src="assets/In-2C-128px-TM.png" alt="LinkedIn-Logo" height="32" width="32">
              </a>
              <!-- Blog link -->
              <a href="http://mminute.github.io/" target="_blank">
                <img src="assets/blog-icon.png" alt="Blog-Logo" height="32" width="32">
              </a>
            </div>
          </td>
          <td>
            <p><h5>Bio:</h5></p>
            Architecting.  Americorping. Aerial Surveying. Now Coding sweet, sweet web apps.
            <br>
            <p><h5>Education:</h5></p>
            University of Pennslyvania, BA<br>
            The Flatiron School
          </td>
        </tr>
      </table>

    </section>
  </article>
</section>

 <script>
 $(document).ready(function(){
    $("#devs").hide();
 });
 </script>