<section class="bs-docs-section center-text-block">
  <article>

    <section>
      <h3>About LUMENsee</h3>
      <p>Project Summary</p>
    </section>

    <section>
      <h3>ABOUT THE TEAM</h3>

      <table class="table table-striped table-hover ">
        <tr>
          <td>
            <figure>
              <img class="img-rounded" src="assets/lia_skalkos.jpg" alt="Lia Skalkos" height="175" width="175">
            <figcaption><h4>Lia Skalkos</h4></figcaption>
            </figure>

            <div class="social-media">
              <!-- Github link -->
              <a href="https://github.com/lskalkos" target="_blank">
                <img src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github-Logo" height="32" width="32">
              </a>
              <!-- Twitter link -->
              <a href="https://twitter.com/lskalkos" target="_blank">
                <img src="assets/TwitterLogo.png" alt="Twitter-Logo" height="32" width="32">
              </a>
              <!-- LinkedIn link -->
              <a href="https://www.linkedin.com/in/liaskalkos" target="_blank">
                <img src="assets/In-2C-128px-TM.png" alt="LinkedIn-Logo" height="32" width="32">
              </a>
              <!-- Blog link -->
              <a href="http://lskalkos.github.io/" target="_blank">
                <img src="assets/blog-icon.png" alt="Blog-Logo" height="32" width="32">
              </a>
            </div>
          </td>
          <td>
            Some Bio Text
          </td>
        </tr>

        <tr>
          <td>
            <figure>
              <img class="img-rounded" src="assets/sara_tibbetts.jpeg" alt="Sara Tibbetts" height="175" width="175">
              <figcaption><h4>Sara Tibbetts</h4></figcaption>
            </figure>

            <div class="social-media">
              <!-- Github link -->
              <a href="https://github.com/tibsar" target="_blank">
                <img src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github-Logo" height="32" width="32">
              </a>
              <!-- Twitter link -->
              <a href="https://twitter.com/saratibbetts" target="_blank">
                <img src="assets/TwitterLogo.png" alt="Twitter-Logo" height="32" width="32">
              </a>
              <!-- LinkedIn link -->
              <a href="https://www.linkedin.com/in/saratibbetts" target="_blank">
                <img src="assets/In-2C-128px-TM.png" alt="LinkedIn-Logo" height="32" width="32">
              </a>
              <!-- Blog link -->
              <a href="http://tibsar.github.io/" target="_blank">
                <img src="assets/blog-icon.png" alt="Blog-Logo" height="32" width="32">
              </a>
            </div>
          </td>
          <td>
            Some Bio Text
          </td>
        </tr>

        <tr>
          <td>
            <figure>
              <img class="img-rounded" src="assets/DavidPerel-sized.png" alt="David Perel" height="175" width="175">
              <figcaption><h4>David Perel</h4></figcaption>
            </figure>

            <div class="social-media">
              <!-- Github link -->
              <a href="https://github.com/dperel" target="_blank">
                <img src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github-Logo" height="32" width="32">
              </a>
              <!-- Twitter link -->
              <a href="https://twitter.com/dperel" target="_blank">
                <img src="assets/TwitterLogo.png" alt="Twitter-Logo" height="32" width="32">
              </a>
              <!-- LinkedIn link -->
              <a href="" target="_blank">
                <img src="assets/In-2C-128px-TM.png" alt="LinkedIn-Logo" height="32" width="32">
              </a>
              <!-- Blog link -->
              <a href="http://dperel.github.io/" target="_blank">
                <img src="assets/blog-icon.png" alt="Blog-Logo" height="32" width="32">
              </a>
            </div>
          </td>
          <td>
            Some Bio Text
          </td>
        </tr>
        <tr>
          <td>
            <figure>
              <img class="img-rounded" src="assets/MasonJennings-scaled.png" alt="Mason Jennings" height="175" width="175">
              <figcaption><h4>Mason Jennings</h4></figcaption>
            </figure>

            <div class="social-media">
              <!-- Github link -->
              <a href="https://github.com/mminute" target="_blank">
                <img src="assets/GitHub-Mark-Light-120px-plus.png" alt="Github-Logo" height="32" width="32">
              </a>
              <!-- Twitter link -->
              <a href="https://twitter.com/mminute_" target="_blank">
                <img src="assets/TwitterLogo.png" alt="Twitter-Logo" height="32" width="32">
              </a>
              <!-- LinkedIn link -->
              <a href="https://www.linkedin.com/in/masonjennings" target="_blank">
                <img src="assets/In-2C-128px-TM.png" alt="LinkedIn-Logo" height="32" width="32">
              </a>
              <!-- Blog link -->
              <a href="http://mminute.github.io/" target="_blank">
                <img src="assets/blog-icon.png" alt="Blog-Logo" height="32" width="32">
              </a>
            </div>
          </td>
          <td>
            Some Bio Text
          </td>
        </tr>
      </table>

    </section>
  </article>
</section>