 <div id="container" class="chart">
  <div id="load">
    <img id="loading-image" src="assets/star-loader-navigator.gif" alt="Loading..." height="60" width="60"/>  
  </div> 
  <%= form_tag("/stars") do %>
  <% end %>

</div>

