<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">
        <h3>Lumensee</h3>
      </a>
    </div>
  </div>
</div>

<!-- <h3>Can you see the sky?</h3>
<div class="see-sky">
  <h2></h2>
</div>
 -->
<!-- body > div.container > div.bs-docs-section.clearfix > div > div

body > div.container > div.bs-docs-section.clearfix > div > div > div.page-header -->