<!DOCTYPE html>
<html>
<head>
  <title>Lumensee</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
  <body>

    <!-- Nav Bar -->
    <nav class="navbar navbar-inverse" id="navibar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          </button>
          <a href="/" class="btn btn-default btn-lg btn-block">LUMENsee</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Links<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>Flatiron Student Projects</li>
                <li class="divider"></li>
                <li><a href="#">zzzProject1</a></li>
                <li><a href="#">Project2</a></li>
                <li><a href="#">Project3</a></li>
                <br>
                <li>Other Links</li>
                <li class="divider"></li>
                <li><a href="http://star-api.herokuapp.com/">Star API</a></li>
                <li><a href="http://www.amnh.org/our-research/hayden-planetarium/digital-universe">Digital Universe</a></li>
                <li><a href="http://www.startalkradio.net/">StarTalk</a></li>
              </ul>
            </li>
            <li><a href="/about" class="btn btn-default btn-lg">About</a></li>
          </ul>  
        </div>
      </div>
    </nav>

      <div class="page-header" id="tagline">
          <p>Keep Looking Up</p>
      </div>


    <!-- <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1></h1>
            <p class="shift-right">Look Up</p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Header and tag line bar -->


    <!-- ######### Body of page will be here ############### -->
    <%= yield %>



    <!-- Footer -->
    <footer class="site-footer">

      <div class="pull-left" id="devs">
        <p class="shift-right">
          Developed by <a href="https://github.com/lskalkos">Lia Skalkos, </a><a href="https://github.com/tibsar">Sara Tibbetts,</a><a href="https://github.com/dperel"> David Perel, </a>and <a href="https://github.com/mminute">Mason Jennings</a>
        </p>
      </div>

      <div class="pull-right">
        <p class="shift-left">Made with ♡ @
          <a href="http://flatironschool.com/">Flatiron School</a>
        </p>
      </div>

    </footer>
    <!-- End Footer -->
</body>
</html>
